@import url(https://coolors.co/bbc8e5-00344b-b8c3dc-b3b2d8-172317);

:root {
    --primary-color: #bbc8e5;    /* 60% */
    --secondary-color: #00344b;  /* 30% */
    --accent-color: #b8c3dc;     /* 10% */
    --white: #ffffff;  
    --tiny-color:#b3b2d8;
    --tiny1-color:#172317;
               /* Keeping white as a valid color */
}

/* General Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Header Container */
/* Header Styles */
header {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: var(--secondary-color);
}

li a.services{
    padding: 0.1rem 0.6rem;
    border: 1px solid var(--white);
    border-radius: 10px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.business-name{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
}

.business-name>a{
    display: flex;
    font-size: 0.8rem;
    padding: 0.1rem;
    text-align: center;
    text-decoration: none;
    color: var(--white);

}


.business-logo-tag{
    width: 80px;
    height: 60px;
    margin-top: 0;
}
.business-logo {
    width: 80px;
    height: 60px;
}

.action{
    background-color: rgba(228, 226, 213, 0.877);
    padding: 0.2rem;
    border-radius: 10px;
    display: none;
}

.action>a{
    background-color: rgba(198, 75, 5, 0.877);
    text-decoration: none;
    padding: 0.2rem;
    border-radius: 6px;
    color: rgba(228, 226, 213, 0.877);
}

.action:hover{
    background-color: green;
}



/* Top Header */
.top-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding-right: 1rem;
}

.humburger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 2rem;
    padding: 0 0.5rem;
}

.span1, .span2, .span3{
    width: 25px;
    height: 3px;
    background-color: var(--white);
    margin: 0.1rem;
}


.close-humburger{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 1.2rem;
    height: 1.2rem;
    padding: 0.1rem;
    color: var(--tiny1-color);
    border: 1px solid var(--accent-color);
    
}

.close-humburger:hover{
    background-color: blueviolet;
    color: var(--white);
}

.xspan1{
    position: absolute;
    width: 100%;
    height: 0.2rem;
    right: 0;
    transform: rotate(45deg);
    background-color: var(--white);

}

.xspan2{
    position: absolute;
    width: 100%;
    height: 0.2rem;
    left: 0;
    transform: rotate(-45deg);
    background-color: var(--white);

}
nav.active{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    backdrop-filter: blur(1px);
    z-index: 1;
    width: 100%;
    border: 1px solid white;
    opacity: 0.95;
    height: fit-content;
}

nav{
    display: none;
    justify-content: space-between;
    padding: 10px 20px;
    backdrop-filter: blur(5px);
    z-index: 1;
    height: 70vh;
    width: 100%;
    border: 1px solid white;
    background-color: var(--secondary-color);
}


.navigation ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-right: 0.5rem;
   
}

.navigation ul li{
    padding: 0.1rem 0.5rem;
    list-style: none;
}

.navigation ul li:hover{
    background-color: #0056b3;
    height: fit-content;
    border: none;
    border-radius: 10px;
}

.navigation a {
    text-decoration: none;
    color: var(--white);
    font-size: 1.1rem;
    text-shadow: 1px 0px 0px var(--tiny1-color);
}

/* Main Content */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    overflow-x: hidden;
}


.heading1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: auto;
    background-color:rgb(187, 173, 173);
    color: var(--secondary-color);
    font-size: 1.2rem;
    margin-bottom: 20px;
    padding: 1rem;
    transition: box-shadow 0.3s;
    border-bottom-right-radius: 10%;
    border-bottom-left-radius: 10%;
    animation: paragraphLighting 3s infinite;
}


@keyframes paragraphLighting {
    0% {
        box-shadow: 0px 2px 4px rgba(6, 6, 218, 0.877);
    }

    30% {
        box-shadow: 0px 2px 4px rgba(198, 75, 5, 0.877);
    }

    70% {
        box-shadow: 0px 2px 4px rgba(105, 198, 5, 0.877);
    }

    100% {
        box-shadow: 0px 2px 4px rgba(253, 251, 251, 0.877);
    }

}


/**services rules*/

.services-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}


.service-item1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white);
    color: var(--secondary-color);
    padding: 5px;
    border-radius: 10px;
    transition: transform 0.2s ease-in-out;
    width: 100%;
    max-width: 50rem;
    height: auto;


}

.service-item1-img{
    box-shadow: 0 0 10px var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16rem;
    height:fit-content;

}

.service-item1-img img{
    width: 100%;
    height: 100%;
    padding: 0.5rem;
}

.service-item1 h2{
    width: 100%;
    max-width: 50rem;
    padding: 0.5rem;
    background-color: var(--tiny-color);
    text-align: center;
    margin-top: 0.6rem;
}

.service-item1 p{
    width: 100%;
    height: 100%;
    margin-top: 0.6rem;
    text-align: center;
    padding: 0.2rem;
}
.service-item1:hover {
    transform: translateY(-5px);
}

/** Service wrapper 2 contents*/

.services-wrapper2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: var(--accent-color);
    color: var(--tiny1-color);
    padding: 0 0.5rem;
    text-shadow: 0.5px 0px 0px var(--white);
}

.service-item2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white);
    color: var(--secondary-color);
    padding: 5px;
    border-radius: 10px;
    transition: transform 0.2s ease-in-out;
    width: 100%;
    max-width: 50rem;
    height: auto;


}

.service-item2-img{
    box-shadow: 0 0 10px var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16rem;
    height:fit-content;

}

.service-item2-img img{
    width: 100%;
    height: 100%;
    padding: 0.5rem;
}

.service-item2 h2{
    width: 100%;
    max-width: 50rem;
    padding: 0.5rem;
    background-color: var(--tiny-color);
    text-align: center;
    margin-top: 0.6rem;
}

.service-item2 p{
    width: 100%;
    height: 100%;
    margin-top: 0.6rem;
    text-align: center;
    padding: 0.2rem;
}
.service-item2:hover {
    transform: translateY(-5px);
}


/* service item3 contents**/

.service-item3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white);
    color: var(--secondary-color);
    padding: 5px;
    border-radius: 10px;
    transition: transform 0.2s ease-in-out;
    width: 100%;
    max-width: 50rem;
    height: auto;


}

.service-item3-img{
    box-shadow: 0 0 10px var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16rem;
    height:fit-content;

}

.service-item3-img img{
    width: 100%;
    height: 100%;
    padding: 0.5rem;
}

.service-item3 h2{
    width: 100%;
    max-width: 50rem;
    padding: 0.5rem;
    background-color: var(--tiny-color);
    text-align: center;
    margin-top: 0.6rem;
}

.service-item3 p{
    width: 100%;
    height: 100%;
    margin-top: 0.6rem;
    text-align: center;
    padding: 0.2rem;
}
.service-item3:hover {
    transform: translateY(-5px);
}

/* service item 4 contents**/

.service-item4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white);
    color: var(--secondary-color);
    padding: 5px;
    border-radius: 10px;
    transition: transform 0.2s ease-in-out;
    width: 100%;
    max-width: 50rem;
    height: auto;


}

.service-item4-img{
    box-shadow: 0 0 10px var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16rem;
    height:fit-content;

}

.service-item4-img img{
    width: 100%;
    height: 100%;
    padding: 0.5rem;
}

.service-item4 h2{
    width: 100%;
    max-width: 50rem;
    padding: 0.5rem;
    background-color: var(--tiny-color);
    text-align: center;
    margin-top: 0.6rem;
}

.service-item4 p{
    width: 100%;
    height: 100%;
    margin-top: 0.6rem;
    text-align: center;
    padding: 0.2rem;
}
.service-item4:hover {
    transform: translateY(-5px);
}

/* services-paracontainer1**/

.services-paracontainer1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:1rem;
    background-color: var(--accent-color);
}
.services-paracontainer1 p{
    padding: 1rem;
    text-align: justify;
    color: var(--tiny1-color);
}



/* service item 4 contents**/

.service-item4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white);
    color: var(--secondary-color);
    padding: 5px;
    border-radius: 10px;
    transition: transform 0.2s ease-in-out;
    width: 100%;
    max-width: 50rem;
    height: auto;


}

.service-item4-img{
    box-shadow: 0 0 10px var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16rem;
    height:fit-content;

}

.service-item4-img img{
    width: 100%;
    height: 100%;
    padding: 0.5rem;
}

.service-item4 h2{
    width: 100%;
    max-width: 50rem;
    padding: 0.5rem;
    background-color: var(--tiny-color);
    text-align: center;
    margin-top: 0.6rem;
}

.service-item4 p{
    width: 100%;
    height: 100%;
    margin-top: 0.6rem;
    text-align: center;
    padding: 0.2rem;
}
.service-item4:hover {
    transform: translateY(-5px);
}

/* service wrapper 3 contents**/


.services-wrapper3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: var(--tiny1-color);
    color: var(--tiny1-color);
    padding: 0 0.5rem;
    text-shadow: 0.5px 0px 0px var(--white);
}

/** service item 5 contents**/

.service-item5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white);
    color: var(--secondary-color);
    padding: 5px;
    border-radius: 10px;
    transition: transform 0.2s ease-in-out;
    width: 100%;
    max-width: 50rem;
    height: auto;


}

.service-item5-img{
    box-shadow: 0 0 10px var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16rem;
    height:fit-content;

}

.service-item5-img img{
    width: 100%;
    height: 100%;
    padding: 0.5rem;
}

.service-item5 h2{
    width: 100%;
    max-width: 50rem;
    padding: 0.5rem;
    background-color: var(--tiny-color);
    text-align: center;
    margin-top: 0.6rem;
}

.service-item5 p{
    width: 100%;
    height: 100%;
    margin-top: 0.6rem;
    text-align: center;
    padding: 0.2rem;
}
.service-item5:hover {
    transform: translateY(-5px);
}


/* service item 6 contents**/

.service-item6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--accent-color);
    color: var(--tiny1-color);
    padding: 5px;
    border-radius: 10px;
    transition: transform 0.2s ease-in-out;
    width: 100%;
    max-width: 50rem;
    height: auto;


}

.service-item6-img{
    box-shadow: 0 0 10px var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16rem;
    height:fit-content;

}

.service-item6-img img{
    width: 100%;
    height: 100%;
    padding: 0.5rem;
}

.service-item6 h2{
    width: 100%;
    max-width: 50rem;
    padding: 0.5rem;
    background-color: var(--tiny-color);
    text-align: center;
    margin-top: 0.6rem;
}

.service-item6 p{
    width: 100%;
    height: 100%;
    margin-top: 0.6rem;
    text-align: center;
    padding: 0.2rem;
}
.service-item3:hover {
    transform: translateY(-5px);
}

/* service item 7 contents**/

.service-item7 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white);
    color: var(--secondary-color);
    padding: 5px;
    border-radius: 10px;
    transition: transform 0.2s ease-in-out;
    width: 100%;
    max-width: 50rem;
    height: auto;


}

.service-item7-img{
    box-shadow: 0 0 10px var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16rem;
    height:fit-content;

}

.service-item7-img img{
    width: 100%;
    height: 100%;
    padding: 0.5rem;
}

.service-item7 h2{
    width: 100%;
    max-width: 50rem;
    padding: 0.5rem;
    background-color: var(--tiny-color);
    text-align: center;
    margin-top: 0.6rem;
}

.service-item7 p{
    width: 100%;
    height: 100%;
    margin-top: 0.6rem;
    text-align: center;
    padding: 0.2rem;
}
.service-item7:hover {
    transform: translateY(-5px);
}




/* service wrapper 4 contents**/


.services-wrapper4{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: var(--tiny1-color);
    color: var(--tiny1-color);
    padding: 0 0.5rem;
    text-shadow: 0.5px 0px 0px var(--white);
}

/** service item 5 contents**/

.service-item8 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white);
    color: var(--secondary-color);
    padding: 5px;
    border-radius: 10px;
    transition: transform 0.2s ease-in-out;
    width: 100%;
    max-width: 50rem;
    height: auto;


}

.service-item8-img{
    box-shadow: 0 0 10px var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16rem;
    height:fit-content;

}

.service-item8-img img{
    width: 100%;
    height: 100%;
    padding: 0.5rem;
}

.service-item8 h2{
    width: 100%;
    max-width: 50rem;
    padding: 0.5rem;
    background-color: var(--tiny-color);
    text-align: center;
    margin-top: 0.6rem;
}

.service-item8 p{
    width: 100%;
    height: 100%;
    margin-top: 0.6rem;
    text-align: center;
    padding: 0.2rem;
}
.service-item8:hover {
    transform: translateY(-5px);
}


/* service item 9 contents**/

.service-item9 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--accent-color);
    color: var(--tiny1-color);
    padding: 5px;
    border-radius: 10px;
    transition: transform 0.2s ease-in-out;
    width: 100%;
    max-width: 50rem;
    height: auto;


}

.service-item9-img{
    box-shadow: 0 0 10px var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16rem;
    height:fit-content;

}

.service-item9-img img{
    width: 100%;
    height: 100%;
    padding: 0.5rem;
}

.service-item9 h2{
    width: 100%;
    max-width: 50rem;
    padding: 0.5rem;
    background-color: var(--tiny-color);
    text-align: center;
    margin-top: 0.6rem;
}

.service-item9 p{
    width: 100%;
    height: 100%;
    margin-top: 0.6rem;
    text-align: center;
    padding: 0.2rem;
}
.service-item3:hover {
    transform: translateY(-5px);
}


/* Footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    text-align: center;
    height: 200px;
    background-color: var(--secondary-color);
    color: var(--white);
}


@media (min-width:600px) {


        
}


@media (min-width: 768px) {


}

@media (min-width:992px) {



    }
 