
/* Media Queries */

/* Phones: max-width: 576px */
@media (max-width:567) {
    .header-container {
        flex-direction: column;
    }

    .humburger {
        display: flex;
    }

    .navigation {
        display: none;
    }

    .close-humburger {
        display: flex;
        justify-content: center;
    }

    .navigation.open {
        display: flex;
        flex-direction: column;
    }

    .navigation a {
        margin: 10px 0;
    }

    .services-wrapper {
        flex-direction: column;
    }

    .services-wrapper > section {
        width: 100%;
    }
}

/* Tablets: max-width: 768px */
@media (min-width: 768px) {
    .serving {
        font-size: 1.6rem;
    }

    .testimony {
        font-size: 1.6rem;
    }

    .post1, .post2, .post3 {
        flex: 1 1 48%;
    }

    .testimony1 {
        flex: 1 1 48%;
    }
}

/* Laptops: max-width: 1024px */
@media (min-width: 1024px) {
    .serving {
        font-size: 1.8rem;
    }

    .testimony {
        font-size: 1.8rem;
    }

    .post1, .post2, .post3 {
        flex: 1 1 32%;
    }

    .testimony1 {
        flex: 1 1 32%;
    }
}

/* Big Screens */
@media (min-width: 1200px) {
    .header-container {
        flex-direction: column;
        justify-content: space-between;
    }

    .navigation {
        display: flex;
    }

    .navigation a {
        margin: 0 15px;
    }

    .services-wrapper > section {
        flex: 1;
    }
    .humburger{
        display: none;
    }

    .navigation {
        position: absolute;
        gap: 4rem;
        right: 0;
        margin-top: -15rem;
        padding: 1rem 1.5rem;
    }
}
